sites = "novelhi, novlove"

# novelhi
NOVELHI_COVER_IMG = "a.book_cover img.cover"
NOVELHI_TITLE_DIV = "div.book_info h1"
NOVELHI_CHAPTER_TAB_ID = "#chapterList"
NOVELHI_CHAPTER_INDEX = "#indexList li.chapter-list-item"
NOVELHI_CONTENT_ID = "#showReading"

# novlove
NOVLOVE_COVER_IMG = "div.book img.lazy"
NOVLOVE_TITLE_DIV = "div.desc h3.title"
NOVLOVE_CHAPTER_TAB_ID = "#tab-chapters-title"
NOVLOVE_CHAPTER_INDEX = "#list-chapter ul.list-chapter li"
NOVLOVE_CONTENT_ID = "#chr-content"
